<!DOCTYPE html>
<html lang="en" xmlns:"http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Car Management System</title>
	<link rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
 			crossorigin="anonymous">
	
</head>
<body>
<div class = "container my-2" align="center">
  
  <h3>car List</h3>
  
  <a th:href="@{/add}" class="btn btn-primary btn-sm mb-3">add car</a>
  
   <table style="width:80%" border="1"
   			class="table table-responsive table-bordered table-striped">
    
    <thead>
     <tr>
      <th>Car Brand</th>
      <th>Car Name</th>
      <th>Car Price</th>
      <th>Update</th>
      <th>Delete</th>
     </tr>
    </thead>
    
    <tbody>
     <tr th:each="car : ${carList}">
      <td th:text="${car.brand}"></td>
      <td th:text="${car.name}"></td>
      <td th:text="${car.price}"></td>
      <td><a th:href="@{/updateForm/{id}(id=${car.id})}" class="btn btn-primary">Update</a></td>
      <td><a th:href="@{/delete/{id}(id=${car.id})}" class="btn btn-danger">Delete</a></td>
     </tr>
    </tbody>
   
   </table>
 

</body>
</html>
